.proceds_container {
    width: calc(100% - 500px);
    margin-top: 2rem;
    margin-left: 375px;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    padding: 2rem;
    background-color: #363636;
    position: relative;
}

.title {
    color: white;
    font-size: 1.5rem;
    background: #929292;
    border-radius: 0.5rem;
    padding: 2rem;
}

.create_button {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
}

.list {
    margin-top: 2rem;
    margin-bottom: 4rem;
    padding-right: 1rem;
    max-height: 20rem;
    overflow: auto;
}