# compiled output
/node_modules
/src/config/config.js
/src/utils/validate.js
/src/scripts

# logs
logs
*. log
npm-debug.log*

# vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json